body {
  color: #ffffff;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  /* outline: 1px solid red; */
     background-color: #212121;
    background-image: url(../images/events/noisebody.png);
    background-repeat: repeat;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
  text-align: center;
}

img,
svg {
  display: block;
  max-width: 100%;
  text-align: center;
  // height: 430px;
}
